footer.footer
    .footer__logo
        img(src='/img/logo-green-small.png' alt='GordiDev logo')
    ul.footer__nav
        li: a(href='#') About Us
        li: a(href='#') Download App
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy;All Rights Reserved By Gordon otieno